"introSD.JPG"
"oneOld.jpg" 
"Originalintro.JPG"
"OriginalOne.JPG"
"README.txt"
"LICENSE.txt"
"introOld.jpg"
"Old01.jpg"
"Old02.jpg"
"Oldt01.jpg"
"Oldt02.jpg"
"WhatsApp Image 2023-04-25 at 19.45.20.jpg"
"WhatsApp Image 2023-04-225 at 19.45.20.jpg"